#wrap {
	margin: 0px auto
}

#main_google_image {
	margin: 0pt auto;
	width: 364px;
	margin-top:80px;
	margin-bottom: 20px;
}

#search_box_select_box {
	margin:0pt auto;
	text-align: center;
	width: 480px;
}

#search_button{
	margin:0pt auto;
	margin-top:2pt;
	text-align: center;
}

a { 
	text-decoration: none;
}
img {
	border:0px;
}

.center{
	margin-top:200px;
	text-align:center;
}

#links {
	float:right;
	margin:0pt;
}

#header {
	font-size: 7em;
	color: grey;
	font-weight: bold;
	letter-spacing: -10px;
	text-align:center;
	margin-top: 100px;
	text-shadow: #333333 3px 4px 1px;
}

#contact {
	margin: 0pt auto;
	margin-top: 80pt;
	font-family: verdana;
	font-size:14px;
	text-align:center;
}
